@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #ffc107;
  }
  .off {
    color: #ccc;
  }

